<div class="row mt-4">
    <div class="col-lg-3" *ngFor="let Good of Goods">
        <div class="card">
            <img [src]="Good.photoUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{Good.name | titlecase}}</h5>
                <p class="card-text">{{Good.price | currency}}</p>
                <button (click)="addToCart(Good.id)" type="button" class="btn btn-primary"> Add to cart</button>
            </div>
        </div>
    </div>
</div>